{% extends "base.html" %}
{% load widget_tweaks %}
{% block page_tab_title %} Contato | {{ block.super }} {% endblock %}
{% block container %}
<div class="page-header">
  <h1>Fale conosco</h1>
  {% if success %}
  <div class="alert alert-success">
    Mensagem enviada com sucesso!
  </div>
  {% endif %}

  <form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <fieldset>

      {% for field in form %}
      <!-- a tag has-error deixa os campos vermelhos -->
      <div class="form-group{% if field.errors %} has-error {% endif %}">
        <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
        <div class="col-md-9">

          <!-- Renderizando o input utilizando a lib widget_tweaks, que tem o comando render_field,
               permitindo que eu passe o class para o field do forms dentro do html, em vez de ter que passar isso
               dentro do forms.py -->
          <!-- <input type="text" class="form-control" id="id_name" placeholder="Nome" /> -->
          {% render_field field class='form-control' %}

          <!-- Verifica se tem erro e exibe o alerta -->
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}

        </div>
      </div>
      {% endfor %}

      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
